::-ms-clear {
        display: none;
}


// safari
_::-webkit-:host:not(:root:root), .header{
}


_::-webkit-full-page-media, _:future, :root .innerPolygon {
	display: none !important;
}


_::-webkit-full-page-media, _:future, :root .service__item{
	overflow: hidden;
	margin-bottom: 15px;
}
		
_::-webkit-full-page-media, _:future, :root .service__item div.polygon{
	border: none;
}

_::-webkit-full-page-media, _:future, :root .service__link{
	overflow: hidden;
	height: 315px;
	width: 270px;
}


_::-webkit-full-page-media, _:future, :root .service__link:after{
	background: url(../images/edge-polygon.png) no-repeat;
	width: 270px;
	height: 315px;
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}

_::-webkit-full-page-media, _:future, :root .service__link .hover{
	display: none;
}


_::-webkit-full-page-media, _:future, :root .service__link:hover .hover{
	display: block;
}


// edge
@supports (-ms-ime-align:auto) {
	.innerPolygon{
		display: none !important;
	}
	.service{
		&__item{
			overflow: hidden;
			margin-bottom: 15px;
			div.polygon{
				border: none;
			}
		}
		&__link{
			overflow: hidden;
			height: 315px;
			width: 270px;
			&:after{
				background: url(../images/edge-polygon.png) no-repeat;
				width: 270px;
				height: 315px;
				content: "";
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 10;
			}
			.hover{
				display: none;
			}
			&:hover{
				.hover{
					display: block;
				}
			}
		}
	}
}


//ie11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.slide{
		height: 634px;
	}
	.map__container .vcard{
		display: block;
	}

	.innerPolygon{
		display: none !important;
	}

	.service{
		&__item{
			overflow: hidden;
			margin-bottom: 15px;
			div.polygon{
				border: none;
			}
		}
		&__link{
			overflow: hidden;
			height: 315px;
			width: 270px;
			&:after{
				background: url(../images/edge-polygon.png) no-repeat;
				width: 270px;
				height: 315px;
				content: "";
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 10;
			}
			.hover{
				display: none;
			}
			&:hover{
				.hover{
					display: block;
				}
			}
		}
	}
}