::-ms-clear {
        display: none;
}


// safari
_::-webkit-:host:not(:root:root), .header{
}


// edge
@supports (-ms-ime-align:auto) {
}


//ie11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.map__container .vcard{
		display: block;
	}

	.innerPolygon{
		display: none !important;
	}

	.service__item .hover{
		display: none;
	}

	.service__link:hover{
		.hover{
			display: block !important;
		}
	}
}