.feedback{
	background-color: rgba(255, 255, 255, .8);
	font-size: 15px;

	.title{
		color: $color10;
		font-size: 24px;
	}

	&__content{
		padding: 35px 0 10px;
	}
}

.feedback
{
	&__form{
		margin: 3.2rem auto 0;
		max-width: 1100px;
		padding-left: 10px;
		padding-right: 10px;
		position: relative;
		fieldset{
			margin-top: 2rem;
		}
		.row{
			display: flex;
			justify-content: space-between;
			margin-top: 24px;
			position: relative;

			&:first-child{
				margin-top: 0;
			}
			input.form-control,
			textarea{
				font-family: "SegoeUIBoldItalic";
				color: $color2;
				background-color: $color11;
				border: 1px solid $color11;
				font-size: 1.7rem;
				padding-left: 1.5rem;
				padding-right: 1.5rem;
				transition: all .3s;
				&:disabled{
					cursor: default;
					@include placeholder(#ccc);
				}
			}


			input.form-control{
				@extend .italic;
				@include placeholder($color2);
				border-radius: 3.2rem;
				height: 3.2rem;
				padding-bottom: 4px;
				width: calc(33.3% - 20px);
			}

			textarea{
				border-radius: 18px;
				flex: 1;
				overflow: hidden;
				height: 10rem;
				@include placeholder($color2);
			}

			.error{
				border: 1px solid red !important
			}
		}

		.submit{
		
			margin-top: 2rem;
			&:disabled
			{
				opacity: .5;
				cursor: default;
				border-color: gray !important;
				color: gray !important
			}
		}

		.policy{
			margin-top: 20px;
		}

		#msg{
			padding-right: 80px;
		}

		.sending,
		.thank,
		.thank{
			height: 238px;
			padding-top: 105px;
		}
	}
}


.policy{
	// @extend .italic;
	color: $color3;
	a{
		display: inline-block;
		color: $color3;
		border-bottom: 1px dashed rgba(0,0,0,0);
		&:hover{
			text-decoration: none;
			border-bottom-color: $color3;
		}
	}
}



.user-access + label {
	cursor: pointer;
	font-size: 14px;
}

.user-access:not(checked) {
	position: absolute;
	opacity: 0;
}
.user-access:not(checked) + label {
	a{
		// color: $color11;		
	}
	color: $color1;
	display: block;
	position: relative; /* будем позиционировать псевдочекбокс относительно label */
	padding: 3px 0 0 60px; /* оставляем слева от label место под псевдочекбокс */
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.user-access:not(checked) + label:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 46px;
	height: 30px;
	background-color: #fff;
	border: 1px solid $color11;
	border-radius: 30px;
	text-align: center;
}

/* Меняем фон чекбокса, когда он включен. */
.user-access:checked + label:before {
	// border-color: $color4;
}
/* Сдвигаем переключатель чекбокса, когда он включен. */
.user-access:checked + label:after {
	content: '*';
	position: absolute;
	top: -6px;
	left: 14px;
	width: 22px;
	height: 22px;
	font-size: 36px;
	color: $color3;
}


.sending,
.thank{
	text-align: center;
	font-size: 17px;
	height: 207px;
	padding-top: 80px;
}