.carousel{
	position: relative;
	img{
		height: auto;
		vertical-align: top;
		width: 100%;
	}
}
#home-carousel{
	// overflow: hidden;
}

.main{
	overflow: hidden;
}

#clipping polygon{
	stroke: $color3;
	stroke-width:3
}

.innerPolygon{
	position: absolute;
	left: 13px;
	top: 15px;
	polygon{
		stroke-width:1;
		stroke: white;
		fill: transparent
	}
}

.service{
	&__item{
		font-family: "SegoeUIBold";
		margin-left: 13px;
		margin-right: 13px;
		position: relative;
		text-transform: uppercase;
		margin-bottom: -15px;



		&:nth-child(5){
			margin-left: 160px;
		}

		div.polygon {
			transition: .3s border-color;
			border: 1px solid $color3;
			border-bottom: none;
			border-top: none;
			height: 156px;
			left: 0;
			position: absolute;
			top: 78px;
			width: 270px;
		}
		div.polygon:nth-child(2) {
			transform:rotate(60deg);
		}
		div.polygon:nth-child(3) {
			transform:rotate(-60deg);
		}

		.hover{
			opacity: 0;
			transition: opacity .3s;
			color: $color2;			
		}

	}
	&__link{
		@extend .flex-center;
		color: $color3;
		font-size: 22px;
		width: 270px;
		height: 312px;
		clip-path: url(#clipping);
		padding: 0 2rem;
		&:hover{
			text-decoration: none;
			.hover{
				opacity: 1;				
			}
			.service{
				&__title{
					color: $color2;
				}
			}
		}
	}

	&__pic{
		display: block;
		left: 0;
		position: absolute;
		top: 0;
	}

	&__title{
		position: relative;
		text-align: center;
		z-index: 10;
	}
}

.services-grid{
	grid-template-columns: repeat(auto-fit, 270px);
	grid-column-gap: 30px;
	flex-wrap: wrap;
	margin-top: 35px;
}