@media (max-width: 1600px){
	#home-carousel .slide__text{
		margin-left: 170px;
	}
}

@media (max-width: 1500px){
	#home-carousel{
		.slick{
			&-next{
				margin-right: 100px;
			}
		}
		.slide{
			&:before{
				height: 490px;
			}
		}
	}
}


@media (max-width: 1399px){
	.service__item{
		margin-left: 0;
		margin-right: 1px;
		&:nth-child(5){
			margin-left: 135px;
		}
	}

	#home-carousel .slick{
		&-prev{
			left: 0;
			margin-left: 15px;
		}
		&-next{
			right: 0;
			margin-right: 15px;
		}
	}

}



@media (max-width: 1366px){
	.articles{
		.article__item{
			width: 265px;

		}
	}
}


@media (max-width: 1250px){
	#home-carousel{
		.slick{
			&-next{
				right: 0;
				margin-right: 15px;
			}
		}
		.slide{
			&:before{
				height: 410px;
			}
			&__text{
				width: 350px;
			}
		}
	}


	.service{
		&__item{
			margin-left: 7px;
			margin-right: 7px;
			&:nth-child(4){
				margin-left: 150px;
			}
			&:nth-child(5){
				margin-left: 7px;
			}
			&:nth-child(6),
			&:nth-child(7){
				// visibility: hidden;
				display: none;
			}
		}
	}
}


@media (max-width: 1100px){
	.map__container .vcard{
		margin-left: 15px;
	}
}

@media (max-width: 991px){
	#home-carousel{
		.slide__price{
			text-align: left;
		}
		.slide{
			&:before{
				display: none;
			}
			&:after{
				width: 100%;
			}
			&__text{
				left: 0;
				margin-left: 0;
				text-align: center;
				padding-left: 30px;
				width: 100%;
				padding-bottom: 20px;
			}
			&__price{
				text-align: center !important;
			}
		}
	}
	.services-grid{
		justify-content: center !important
	}
	.service{
		&__item{
			margin-bottom: 15px;
			&:nth-child(4){
				margin-left: 7px;
			}
			&:nth-child(5),
			&:nth-child(6)
			{
				display: block;
			}
		}
	}

	.visual__box{
		margin-left: auto;
		margin-right: auto;
	}

	.feedback
	{
		&__form .row input.form-control{
			width: 220px;
		}
	}
}


@media (max-width: 767px){
	#home-carousel .slick-arrow{
		display: none !important;
	}
	// .carousel{
	// 	.topelement{
	// 		margin-left: 15px;
	// 		left: 0;
	// 	}
	// }
	.service{
		&__item{
			width: 230px;
			div.polygon{
				display: none;
			}
			.innerPolygon{
				display: none !important;
			}
		}
		&__link{
			border: 1px solid $color3 !important;
			clip-path: none;
			font-size: 18px;
			height: 120px;
			overflow: hidden;
			position: relative;
			width: 100%;
			img{
				margin-top: -50%;
			}
		}
	}
	.services-grid{
		margin-bottom: 2rem;
	}


	.map__container .vcard{
		position: static;
		margin-top: 0;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
		height: auto;
		margin-bottom: 2rem;
		.btn{
			margin-top: 2rem;
		}
	}

	#gallery-carousel,
	#articles-carousel{
		.slick-arrow{
			display: none !important;
		}
	}

	.article__item{
		width: 240px;
	}

	.feedback__form .row{
		margin-top: .8rem;
		input.form-control{
			width: 100%;
		}
	}
}




@media (max-width: 750px){
	// .carousel .topelement{
	// 	background: #95233b;
	// 	position: static;
	// 	height: auto;
	// 	margin-left: auto;
	// 	margin-right: auto;
	// 	margin-bottom: 1rem;
	// 	a{
	// 		clip-path: none;
	// 		height: auto;
	// 		line-height: 1.4;
	// 		padding: 1rem 0;
	// 		&:before,
	// 		&:after{
	// 			display: none;
	// 		}
	// 	}
	// }

	.feedback{
		&__form .row{
			display: block;
			input.form-control,
			textarea{
				display: block;
				width: 100%;
			}

			#msg{
				width: 100%;
			}
			textarea{
				height: 100px;
			}

			.file-upload{
				bottom: 0;
			}
		}
	}
}

@media (max-width: 700px){
	#home-carousel{
		.slide__text{
			padding-top: 1rem;
			padding-bottom: 2rem;
		}
		.btn{
			flex-shrink: 0;
			margin-top: 1.5rem;
		}
	}


	.visual{
		&__text{
			margin-top: 1rem;
		}
		.btn{
			margin-top: 1.5rem;
		}
	}
	.visual__box{
		height: auto;
		padding-top: 2rem;
		padding-bottom: 2rem;
		width: 100%;
	}

	#ymap{
		height: 350px;
	}
}


@media (max-width: 650px){
	#home-carousel .slide{
		&__title,
		&__price
		{
			font-size: 2.6rem;
		}
		&__desc{
			font-size: 2rem;
		}
	}
}


@media (max-width: 580px){
	.header{
		.logo{
			margin-right: 0;
			margin-left: 0;
		}
	}
	#home-carousel .slide{
		img{
			height: 100%;
			width: auto;
		}
		&__text{
			justify-content: center;
		}

		height: 250px;
		&__title,
		&__price
		{
			font-size: 2.4rem;
		}
		&__desc{
			font-size: 1.8rem;
		}
	}

	.text{
		text-align: justify;
	}

	#totop{
		display: none;
	}
}


@media (max-width: 530px){
	.inner{
		.articles{
			justify-content: center !important	;
			.article{
				&__item{
					width: 270px;	
				}
				&__title{
					text-align: center;	
				}
				&__body{
					.btn{
						margin-left: auto;
						margin-right: auto;	
						margin-top: 2rem;	
						position: static;
					}
				}
			}
		}
	}
}


@media (max-width: 450px){
	#home-carousel .slide__text{
		padding-left: 0;
	}

	.main{
		.title{
			font-size: 2.5rem;
		}
		p{
			line-height: 1.6;
		}
	}

	.service__link{
		font-size: 1.6rem;
		height: 80px;
	}

	.map__container .vcard{
		width: 100%;
	}

	.articles{
		.container{
			padding-left: 0;
			padding-right: 0;
		}
	}

	.article__body{
		text-align: center;
		.btn{
			position: static;
			margin: auto;
		}
	}

	main{
		p{
			text-align: justify;			
		}
		h1,
		h2{
			text-align: center;
		}
		h1{
			font-size: 2.6rem;
		}
		h2{
			font-size: 2rem;
		}
	}

	.feedback__form .row{
		input.form-control,
		textarea{
			font-size: 1.5rem;
		}
	}
}

@media (max-width: 380px){
	.visual__title{
		font-size: 1.9rem;
	}

	.gallery{
		a{
			margin-left: 0;
			margin-right: 0;
			width: 230px;
		}
	}
}


@media (max-width: 350px){
	.feedback .title{
		font-size: 20px;
	}
}
